@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0d1117;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  color: #e6edf3;
}

a:not(.alternative-link) {
  color: #4493f8;
}

a:not(.alternative-link):hover {
  text-decoration: underline;
}

a.alternative-link:hover {
  opacity: 0.7;
}
